adbc_driver_manager==1.0.0
adbc_driver_postgresql==1.0.0
adbc_driver_sqlite==1.0.0
aiolimiter==1.1.0
AppKit==0.2.8
apscheduler==3.10.4
asgiref==3.8.1
astor==0.8.1
async_generator==1.10
beautifulsoup4==4.10.0
black==21.10b0
bokeh==3.4.1
boto3==1.34.123
botocore==1.34.123
Brotli==1.0.9
brotlicffi==1.1.0.0
cachetools==5.3.3
cairocffi==1.7.0
Carbon==1.1.10
charset_normalizer==3.3.2
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==3.4.8
curio==1.6
Cython==3.0.10
dask==2024.5.2
defcon==0.10.3
defusedxml==0.7.1
dl==0.1.0
docutils==0.20.1
docutils==0.17.1
fastparquet==2024.5.0
Foundation==0.1.0a0.dev1
freetype_py==2.4.0
fsspec==2024.6.0
glyphsLib==6.7.1
h2==4.1.0
hid==1.0.6
HTMLParser==0.0.2
hypothesis==6.103.1
ipykernel==6.7.0
ipython==8.12.3
ipython==7.31.1
ipywidgets==8.1.3
isort==5.6.4
jedi==0.19.1
jedi==0.18.0
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
lz4==3.1.3+dfsg
mtrand==0.1
munkres==1.1.4
mypy==1.10.0
numarray==1.5.1
Numeric==24.2
numexpr==2.10.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.1.3
pickle5==0.0.12
protobuf==3.12.4
psutil==5.9.8
psutil==5.9.0
py==1.10.0
PyGObject==3.42.1
PyInstaller==6.8.0
pylint==3.1.0
pylint==2.12.2
pyodide==0.0.2
pyOpenSSL==24.1.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt5_sip==12.13.0
PyQt5_sip==12.9.1
PyQt6==6.7.0
pyright==1.1.366
PySide2==5.15.2.1
PySide6==6.7.1
pytest==8.2.2
python-dotenv==1.0.1
python_calamine==0.2.0
pyxlsb==1.0.10
PyYAML==5.4.1
PyYAML==6.0.1
QtPy==2.4.1
QtPy==2.0.0
Quartz==0.0.1.dev0
railroad==0.5.0
reportlab==3.6.8
Res==0.1.7
ruff==0.4.8
s3fs==2024.6.0
scikit_learn==1.5.0
scipy==1.8.0
sets==0.3.2
setuptools_scm==8.1.0
shiboken2==5.15.2.1
shiboken6==6.7.1
sip==6.8.3
socksio==1.0.0
Sphinx==4.3.2
SQLAlchemy==2.0.30
sympy==1.12.1
thread==2.0.3
threadpoolctl==3.5.0
tornado==6.4
tornado==6.1
traitlets==5.1.1
trove_classifiers==2024.5.22
trustme==1.1.0
truststore==0.9.1
ufoLib2==0.13.1
ufoLib2==0.16.0
uharfbuzz==0.39.1
unicodedata2==14.0.0
urllib3_secure_extra==0.1.0
uvloop==0.19.0
watchdog==4.0.0
watchdog==2.1.6
win_inet_pton==1.1.0
xarray==2024.5.0
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
zopfli==0.2.3
zstandard==0.22.0
